{% extends "base.html" %}

{% block title %}
    Головна сторінка
{% endblock %}

{% block content %}
    <div class="container-CARD">
        <div class="card">
            <a href="">
                <img class="card-photo" src="static/img/ph1.jpg" alt="p">
            </a>
            <h3 class="text-color">Карточка 1</h3>
        </div>
        
        <div class="card">
            <a href="">
                <img class="card-photo" src="static/img/ph2.jpg" alt="p">
            </a>
            <h3 class="text-color">Карточка 2</h3>
        </div>
        
        <div class="card">
            <a href="">
                <img class="card-photo" src="static/img/pht3.jpg" alt="p">
            </a>
            <h3 class="text-color">Карточка 3</h3>
        </div>
        
        <div class="card">
            <a href="">
                <img class="card-photo" src="static/img/ph2.jpg" alt="p">
            </a>
            <h3 class="text-color">Карточка 4</h3>
        </div>
        
        <div class="card-width">
            <a href="">
                <img class="card-photo-width" src="static/img/ph1.jpg" alt="p">
            </a>
            <h3 class="text-color">Карточка 5</h3>
        </div>
        
        <div class="card-width">
            <a href="">
                <img class="card-photo-width" src="static/img/ph2.jpg" alt="p">
            </a>
            <h3 class="text-color">Карточка 6</h3>
        </div>
    </div>
{% endblock %}
