{% extends "base.html" %}

{% block title %}
    Головна сторінка
{% endblock %}

{% block content %}
    <div class="container-CARD">
        <div class="card">
            <a href="">
                <img class="card-photo" src="static/img/pht1.jpg" alt="p">
            </a>
        </div>
        
        <div class="card">
            <a href="">
                <img class="card-photo" src="static/img/pht2.jpg" alt="p">
            </a>
        </div>
        
        <div class="card">
            <a href="">
                <img class="card-photo" src="static/img/pht3.jpg" alt="p">
            </a>
        </div>
        
        <div class="card">
            <a href="">
                <img class="card-photo" src="static/img/pht4.jpg" alt="p">
            </a>
        </div>
        
        <div class="card-width">
            <a href="">
                <img class="card-photo-width" src="static/img/ph1.jpg" alt="p">
            </a>
        </div>
        
        <div class="card-width">
            <a href="">
                <img class="card-photo-width" src="static/img/ph2.jpg" alt="p">
            </a>
        </div>
    </div>
{% endblock %}
